<% if likes.any? %>
  <ul class="media-list">
    <% likes.each do |like| %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <%= like.content %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate likes %>
<% end %>